# Porta do servidor HTTP
SERVER_PORT=3001

# URL de conexão com MongoDB (com autenticação)
DB_URL=mongodb://admin:senha@mongo:27017/rotas-sz?authSource=admin

# Credenciais do MongoDB
MONGO_USER=admin
MONGO_PASSWORD=senha

# AWS S3
AWS_REGION=us-east-1
AWS_BUCKET_NAME=nome-do-bucket
